%ul.nav.nav-list.well
  - repos.each do |repository|
    %li
      %a{href: url("repos/#{repository.owner.login}/#{repository.name}")}
        = repository.name
        - nr_of_pulls = pull_requests(repository).length
        - if nr_of_pulls.zero?
          %span.badge.pull-right.badge-success= nr_of_pulls
        - else
          %span.badge.pull-right.badge-warning= nr_of_pulls
